<div>

    <h1>Log in</h1>

    <form id="loginForm">

        <label>Email</label>
        <input type="email" name="email">

        <label>Password</label>
        <input type="password" name="password">

        <input type="submit" value="Send">

    </form>

</div>

<script src="/js/login.js"></script>