<div>

    <h1>Log in</h1>

    <form id="loginForm">

        <label>Email</label>
        <input type="email" name="email">

        <label>Password</label>
        <input type="password" name="password">

        <input type="submit" value="Send">

    </form>

    <br>
    
    <h4>Tambien puedes ingresar por GitHub</h4>
    <a href="/api/sessions/github"><button>GitHub</button></a>

    <hr>

    <p>¿Olvidate tu contraseña? Recuperala <a href="/restorePassword">aquí</a>.</p>

</div>

<script src="/js/login.js"></script>