<div>
    <h1>Products in Real Time</h1>
    <div>
        <ul id="listProducts">

        </ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>