<div>
    <h1>Restablece tu contraseña</h1>

    <form id="restoreForm">
        <label>Correo para reestablecer</label>
        <input name="email">
        <label>Ingresa tu nueva contraseña</label>
        <input name="password">

        <input type="submit">
    </form>


    <script src="/js/restorePassword.js"></script>
</div>